:root {
    --mono-font-stack: 'Roboto Mono', monospace;
    --font-stack: -apple-system, BlinkMacSystemFont, 'Montserrat', 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;;

    --color-background: #fff;
    --color-background-secondary: #f7f7f7;
    --color-text: #1e1e1e;
    --color-text-secondary: #7d7d7d;
    --color-link: #2D639E;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #1D1D1D;
        --color-background-secondary: #3f3f3f;
        --color-text: #D8D8D8;
        --color-text-secondary: #878787;
        --color-link: #367DB4;
    }
}


body {
    max-width: 800px;
    padding: 0 0.5rem;
    margin-right: auto;
    margin-left: auto;
    line-height: 1.5;
    font-family: sans-serif;
    font-family: var(--font-stack);
    font-size: 14pt;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;

    background: var(--color-background);
    color: var(--color-text);
}

@media (max-width: 840px) {
    body {
        max-width: 80%;
    }
}

header {
    display: block;
    text-align: center;

    h1 {
        font-size: 18pt;
    }

    h3 {
        font-size: 16pt;
    }
}

nav {
    font-size: 14pt;
}

footer {
    margin-top: 2rem;
    font-size: 11pt;
    text-align: center;
}

footer li {
    display: inline;
    margin: 0.5rem;
}

footer ul {
    display: inline;
}

nav li {
    display: inline;
    margin: 0.5rem;
}

a {
    color: var(--color-link);
}

img {
    max-width: 100%;
    height: auto;
}

figure {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: auto;
}


p {
    margin-top: 0px;
    text-align: justify;
}
sup {
    vertical-align: 0.3em;
    font-size: 0.65em;
}

pre {
    font-family: var(--mono-font-stack);
    font-size: 16px;
    background-color: #eeeeff;
    padding-left: 2%;
    padding-top: 1ch;
    padding-bottom: 1ch;
    overflow: auto;
}

div.heading {
    font-weight: 800;
    text-transform: uppercase;
}

article.post {
    display: flex;
    flex-flow: row;
    align-items: baseline;
    justify-content: flex-start;
}

.post-date {
    margin-right: 0.5em;
    width: 120px;
}

.org-src-container {
    margin-top: -2em;
}

.org-ul {
    margin-top: -2em;
}

.post-title {
    margin-top: 0.2em;
}

blockquote {
    background-color: var(--color-background-secondary);
    border: dashed 1px grey;
    width: 97.5%;
    font-style: italic;
    text-align: justify;

    padding: 1ch;
    padding-top: 2ch;
    padding-bottom: 2ch;

    margin : 0ch;
    margin-bottom: 2ch;
    margin-top: 0ch;
}

blockquote div {
    text-transform: none;
    text-align: right;
    width: 100%;
}

figcaption {
    color: var(--color-text-secondary);
    font-weight: 100;
    padding: 2px;
    padding-bottom: 2rem;
    text-align: center;
}

.socials {
    padding-bottom: 2rem;
}
